/* Common Settings */
html {
  /* 1rem === 15px */
  font-size: 15px;
  line-height: 1.6;
  font-family: 'NanumSquare', sans-serif;
}

* {
  font-family: 'NanumSquare', sans-serif;
  letter-spacing: -0.02em;
  color: #333;
}
