/* Common Settings */
html {
  font-size: 15px;  /* 1rem == 15px */
  line-height: 1.6; /* 24px/15px == 1.6 */ /* 이렇게 rem 단위로 써주는게 좋다 */
}

* {
  font-family: 'Open Sans', sans-serif;
  color: #ff1818;
}

/*
#navbarNav {
  justify-content: flex-end;
}*/

.brand {
  margin: 0;

  font-size: 1.33333333rem;
  font-weight: 400;
  line-height: 1;
}

.brand a {
  font-family: inherit;
}

.navbar-light .navbar-nav .nav-link,
.navbar-toggler {
  font-size: 0.93333rem;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: 0.21rem;
  color: #181818;
}

.navbar-light .nav-item.active .nav-link {
  color: #ff5216;
}
