/* Comman Settings */
html {
  /* 1rem == 15px */
  font-size: 15px;
  line-height: 1.6; /* 25/15 */
}

* {
  font-family: 'Spoqn Han Sans', sans-serif;
  letter-spacing: -0.02rem; /* -0.32/15 */
  color: #333;
}

/* 속성 선택자. lang 속성이 en인 아이들만 적용 */
[lang="en"] {
  font-family: 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
}

button:focuse {
  outline: none;
}

.text-primary {
  color: #ff9e1e !important;
}

.bg-primary {
  background: #ff9e1e !important;
}

a.bg-primary:hover {
  background-color: #f38c04 !important;
}

/* Header */
/* bootstrap class로 처리했음
#navbarNav {
  justify-content: flex-end;
}
*/

.navbar.bg-dark {
  background-color: #000 !important;
}

.brand {
  maring-bottom: 0;
  font-size: 1.333333rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.08rem; /* -1.54/20 */
}

.nav-link {
  font-size: 0.73rem; /* 11/15 */
  font-weight: bold;
  line-height: 1.82;
  letter-spacing: 0.14rem; /* 1.5/11 */
  text-transform: uppercase;
}

.navbar-toggler {
  border: none;
}

.fa.fa-bars {
  position: relative;
  top: 1px;
}

/* cover */
.carousel-item-flex {
  height: 100vh; /* vh란 보이는 화면의 height를 100으로 보는 단위를 말한다 */
  padding-top: 45px; /* nav 높이만큼 줬음 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover; /* 화면 체우기 */
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.carousel-item:nth-child(1) {
  background-image: linear-gradient(to bottom, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 100%), url(../assets/bg-cover-1.jpg);
}

.carousel-item:nth-child(2) {
  background-image: linear-gradient(to bottom, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 100%), url(../assets/bg-cover-2.jpg);
}

.carousel-item:nth-child(3) {
  background-image: linear-gradient(to bottom, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 100%), url(../assets/bg-cover-3.jpg);
}

.carousel__title {
  font-size: 9.333333rem; /* 140/15 */
  font-weight: bold;
  line-height: 1.2; /* 168/140 */
  letter-spacing: -0.08em; /* -10.77/140 */
}

@media screen and (max-width: 576px) {
  .carousel__title {
    font-size: 5.333333rem; /* 80/15 */
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .carousel__title {
    font-size: 7.333333rem; /* 110/15 */
  }
}

.carousel__text {
  font-weight: bold;
  color: #fff;
}

.btn {
  border-radius: 100px;
  color: white;
}

/* section commons */
.section {
  padding: 120px 0;
  text-align: center;
}

.section__title {
  font-size: 3.3333333rem;
  font-weight: 300;
  line-height: 1.44;
  letter-spacing: -0.02em;
}

.section__category {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.27;
  text-transform: uppercase;
}

/* About */

.about__data {
  display: flex;
  justify-content: center;
}

.about__datum {
  border-right: 1px solid rgba(153,153,153,.5);
}

.about__datum:last-child {
  border-right: none;
}

.about__number {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.33333rem;
  line-height: 1.37;
}

/* Clubs */
.card {
  text-align: left;
}

.card-title {
  font-size: 1.333333rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 0.5rem;
}

.btn.btn-primary {
  border: none;
  font-size: 0.8rem;
}
